<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need to access your location information to provide more accurate products and services. Rest assured, we will not misuse your location data. If you have any questions, please feel free to contact us.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need to access your location information to provide more accurate products and services. Rest assured, we will not misuse your location data. If you have any questions, please feel free to contact us.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>To provide you with more accurate product recommendations, we request your Advertising ID. We are committed to protecting your privacy and strictly adhere to all relevant laws and regulations. Your Advertising ID will be used solely to enhance our services.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We will only use your photo album permissions to upload ID card images to ensure the accuracy of your identity information. Additionally, you can also upload your profile picture through the photo album if needed.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need to use your camera to take photos and recognize basic facial information to ensure the accuracy of your identity information. Additionally, if needed, you can also upload your profile picture through the camera.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>LilitaRegular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
